#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Prime Video
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app=https://www.primevideo.com/
Icon=chrome-nneciieamikocnekpdhejocdfodflehk-Default
StartupWMClass=primevideo
